/* signal start */
#signal{
    height: 20px;
    /*background-color: deepskyblue;*/
    /*background-color: black;*/
    display: flex;
    align-items: center;
    z-index: 30;
    color: white;
    font-size: 12px;
    line-height: 12px;
    font-weight: 200;
}

#signal-left div{
    margin-left: 2px;
}

#signal-left{
    height: 20px;
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#signal-center{
    width: 70px;
    height: 20px;
}

#signal-right{
    flex: 1;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

/* signal-area start */

#signal-area{
    width: 23px;
    height: 12px;
    display: flex;
    align-items: flex-end;
    flex-flow: row nowrap;
    justify-content: center;
}


#signal-area div{
    width: 3px;
    margin-left: 2px;
    /*background-color: white;*/
    border-radius: 1px;
    display: flex;
}

#signal-area div:nth-child(1){
    height: 4px;
}
#signal-area div:nth-child(2){
    height: 6px;
}
#signal-area div:nth-child(3){
    height: 8px;
}
#signal-area div:nth-child(4){
    height: 10px;
}

.signal-ok{
    background-color: white;
}

.signal-lose{
    background-color: gray;
}

/* signal-area end */

/* mettary start */

@keyframes full {
    0%{
        width: 0px;
        background-color: crimson;
    }

    20%{
        background-color: red;
    }
    80%{
        background-color: greenyellow;
    }
    100%{
        width: 22px;
        background-color: greenyellow;
    }
}

#signal-percent{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
}

#mettary{
    height: 20px;
    width: 30px;
    display: flex;
    flex-flow: row;
    margin-right: 4px;
    justify-content: center;
    align-items: center;
}

#mettary-body{
    width: 26px;
    height: 10px;
    border: 1px solid white;
    border-radius: 2px;
}

#mettary-charge{
    height: 8px;
    margin: 1px;
    border-radius: 1px;
    animation: full 8s linear infinite;
}

#mettary-head{
    height: 3px;
    width: 1px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 0px 1px 1px 0px;
}

/* mettary end */

